@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');


body {
    overflow-x: hidden !important;
    font-family: "Source Sans Pro", sans-serif;
}

/* ========== HEADER w/ NAVBAR ========== */
nav {
    background-color: #DDDDDD;
}

.bi-download, .bi-box-arrow-right {
    padding-right: 0.4rem;
    font-size: 1.5rem;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(20, 20, 20);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(58, 58, 58, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#download {
    margin-left: 2rem;
    color: rgb(30, 30, 30);
    font-weight: 600;
    font-size: 1.25rem;
}

#logout {
    margin-left: 2rem;
    color: #bd2031;
    font-weight: 600;
    font-size: 1.25rem;
}

#applicant-link {
    border-bottom: 5px solid #bd2031;
    color: white;
}

#download:hover, #logout:hover  {
    color: white;
}

/* ========== MAIN CONTAINER ========== */
#main-container {
    min-height: calc(100vh - 58.9167px - 157.6px);
    background: rgba(189, 32, 49, 0.2);
}

#applicant-name-number > *, #applicant-course-shift > * {
    color: white;
}
 
#applicant-course-shift > * {
    text-decoration: underline;
    margin-bottom: 0;
    font-size: 1.15rem;
}

#applicant-info {
    background-color: rgba(189, 32, 49, 0.7);
    border-top: 5px solid #bd2031;
    border-bottom: 5px solid #bd2031;
}

#applicant-name, #control-number {
    margin-bottom: 0;
}

#applicant-name {
    font-weight: 600;
}

#admission-result-text {
    font-size: 2rem;
    font-weight: 600;
}

.results {
    height: 85%;
    padding: 1.2rem;
    background-color: white;
    border-top: 2px solid red;
    border-left: 2px solid red;
    border-right: 2px solid red;
    border-radius: 10px 10px 0 0;
}

.results > h5 {
    width: fit-content;
    margin: 0;
    padding: 0 5px;
    border-bottom: 2px solid #bd2031;
    font-weight: 600;
}

.results .details {
    text-align: center;
    margin-top: 2px;
    margin-bottom: 15px;
}

.remarks {
    text-align: center;
    margin: 0;
    background-color: white;
    border-bottom: 2px solid red;
    border-left: 2px solid red;
    border-right: 2px solid red;
    border-radius: 0 0 10px 10px
}


/* === REMARKS COLOR IF FAILED/INCOMPLETE=== */
#medical-result-remarks, #interview-result-remarks, #requirements-result-remarks {
    padding: 15px 25px;
    background-color: rgb(223, 191, 191);
    border: 3px solid red;
    border-radius: 10px;
    font-weight: 600;
}

/* === REMARKS COLOR IF PASSED/COMPLETE === */
.remarks > h3 {
    font-size: 1.25rem;
    padding: 15px 20px;
    background-color: rgb(189, 230, 189);
    border: 3px solid green;
    border-radius: 10px;
    font-weight: 600;
}


/* ========== FOOTER ========== */
footer {
    bottom: 0;
    background-color: rgb(189, 32, 49);
}

footer #left-footer h3 {
    margin: 0;
    color: #FFFFFF;
    padding-bottom: 0.75rem;
}

footer a {
    font-size: 0.85rem;
    padding-left: 2.5rem;
    text-decoration: none;
    color: #FFFFFF;
}

footer a:hover{
   text-decoration: underline;
}

footer i {
    padding-right: 0.7em;
}

footer img {
    width: 100%;
}


/* ========== MEDIA QUERRIES (CONTENT RESPONSIVENESS) ========== */

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1920px) {
    * {
        font-size: 1.125em;
    }
}
