@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');

:root {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    display: flex;
    flex-wrap: wrap;
    background-color: #DDDDDD;
    justify-content: center;
    align-items: center;
    height: 10vh;
    padding: 0 10vw;
    border-bottom: 7px solid rgb(189, 32, 49);
}

header h1 {
    font-size: 1.82rem;
    font-weight: 1000;
    color: rgb(189, 32, 49);
    padding-bottom: 2rem;
}

/* NAVBAR (tatangalin to sa ibang module */
nav {
    height: 10vh;
    background-color: #DDDDDD;
}

nav ul {
    padding-top: 0.9rem;
    margin-right: 10vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0;
}

nav li {
    padding-left: 2vw;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #000;
    font-weight: 1000;
    font-size: 0.9em;
}

nav a:not(#admission-text):hover  {
    border-bottom: 5px solid rgb(189, 32, 49);
}

#admission-text {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background: linear-gradient(97.1deg, #DC9EA8 0%, #BD2031 100%);
    color: #FFFFFF;
}

.main-container {
    padding: 9vh 34vw;
    background-image: linear-gradient(180deg, #FFA5A5 0%, rgba(252, 232, 232, 0) 100%);
    display: block;
    align-items: center;
}

fieldset {
    border: 5px solid rgb(189, 32, 49);
    border-radius: 20px;

}
legend {
    background-color: rgb(189, 32, 49);
    color: rgb(255, 255,255);
    padding: 0.75rem 1.25rem;
    border-radius: 15px;
    font-weight: 600;
}

form {
    display: block;
    text-align: center;
    margin: auto 2rem;
}

form label {
    font-weight: 1000;
    font-size: 1rem;
    color: #181818;
}

#applicant-id, #applicant-pass {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    outline: none;
    margin-bottom: 1.25rem;
    box-sizing: border-box;
    padding-left: 5%;

}

#login-btn {
    background-color: rgba(189, 32, 49, 0.5);
    color: rgb(255, 255,255);
    padding: 0.75rem 1.75rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    border: none;
}

form p {
    color: #181818;
    font-size: 0.75rem;
    text-align: left;
    margin: 0;
}

form p a{
    color: rgb(189, 32, 49);
    font-weight: 1000;
}

/* FOOTER */
footer {
    background-color: #BD2031;
    display: flex;
    padding: 0 5vw;
    justify-content: center;
    align-items: center;
}

footer .left-footer {
    margin: 0;
    padding: 2.5vw;
    width: 60%;
    height: 100%;
}

footer .left-footer h3 {
    margin: 0;
    color: #FFFFFF;
    padding-bottom: 0.75rem;
}

footer a {
    font-size: 0.85rem;
    padding-left: 2.5rem;
    text-decoration: none;
    color: #FFFFFF;
}

footer a:hover span{
   text-decoration: underline;
}

footer span {
    padding-left: 0.7em;
}

footer .right-footer {
    width: 40%;
    height: 100%;
}

footer img {
    width: 100%;
}
