@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');


body {
    overflow-x: hidden;
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
    padding: 0;
}

.page-container {
    min-height: 100vh;
}


/* ========== HEADER w/ NAVBAR ========== */
nav {
    background-color: #DDDDDD;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(20, 20, 20);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(58, 58, 58, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
    color: rgb(30, 30, 30);
    font-weight: 600;
    font-size: 1.25rem;
}

#applicant-link {
    border-bottom: 5px solid #bd2031;
    color: white;
}

nav a:hover  {
    color: white;
}

/* ========== MAIN CONTAINER ========== */
.main-container {
    padding: 9vh 34vw;
    background-image: linear-gradient(180deg, #FFA5A5 0%, rgba(252, 232, 232, 0) 100%);
    display: block;
    align-items: center;
}

fieldset {
    border: 5px solid rgb(189, 32, 49);
    border-radius: 20px;

}
legend {
    background-color: rgb(189, 32, 49);
    color: rgb(255, 255,255);
    padding: 0.75rem 1.25rem;
    border-radius: 15px;
    font-weight: 600;
}

form {
    display: block;
    text-align: center;
    margin: auto 2rem;
}

form label {
    font-weight: 1000;
    font-size: 1rem;
    color: #181818;
}

#applicant-id, #applicant-pass {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    outline: none;
    margin-bottom: 1.25rem;
    box-sizing: border-box;
    padding-left: 5%;

}

#login-btn {
    background-color: rgba(189, 32, 49, 0.5);
    color: rgb(255, 255,255);
    padding: 0.75rem 1.75rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    border: none;
}

form p {
    color: #181818;
    font-size: 0.75rem;
    text-align: left;
    margin: 0;
}

form p a{
    color: rgb(189, 32, 49);
    font-weight: 1000;
}

/* ========== FOOTER ========== */
#footer {
    background-color: rgb(189, 32, 49);
}

#footer #left-footer h3 {
    margin: 0;
    color: #FFFFFF;
    padding-bottom: 0.75rem;
}

#footer a {
    font-size: 0.85rem;
    padding-left: 2.5rem;
    text-decoration: none;
    color: #FFFFFF;
}

#footer a:hover span{
   text-decoration: underline;
}

#footer span {
    padding-left: 0.7em;
}

#footer img {
    width: 100%;
}


/* ========== MEDIA QUERRIES (CONTENT RESPONSIVENESS) ========== */