@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');


body {
    overflow-x: hidden;
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
    padding: 0;
}

/* ========== HEADER ========== */
header {
    background-color: #DDDDDD;
    border-bottom: 7px solid rgb(189, 32, 49);
}

header #tupc-name {
    letter-spacing: 0.05rem;
    font-size: 2.3rem;
    font-weight: 1000;
    color: rgb(189, 32, 49);
    justify-content: center;
    text-align: center;
}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    width: 100px;
    height: 100px;
}

/* ========== NAVBAR (tatangalin to sa ibang module) ========== */
nav {
    background-color: #DDDDDD;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: rgb(30, 30, 30);
    font-weight: 600;
    font-size: 1.1rem;
}

nav a:not(#admission-text):hover  {
    color: white;
}

#applicant-link {
    border-radius: 0 0 1rem 1rem;
    background-color: #bd2031;
    color: white;
}

/* ========== MAIN CONTAINER ========== */
.main-container {
    padding: 9vh 34vw;
    background-image: linear-gradient(180deg, #FFA5A5 0%, rgba(252, 232, 232, 0) 100%);
    display: block;
    align-items: center;
}

fieldset {
    border: 5px solid rgb(189, 32, 49);
    border-radius: 20px;

}
legend {
    background-color: rgb(189, 32, 49);
    color: rgb(255, 255,255);
    padding: 0.75rem 1.25rem;
    border-radius: 15px;
    font-weight: 600;
}

form {
    display: block;
    text-align: center;
    margin: auto 2rem;
}

form label {
    font-weight: 1000;
    font-size: 1rem;
    color: #181818;
}

#applicant-id, #applicant-pass {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    outline: none;
    margin-bottom: 1.25rem;
    box-sizing: border-box;
    padding-left: 5%;

}

#login-btn {
    background-color: rgba(189, 32, 49, 0.5);
    color: rgb(255, 255,255);
    padding: 0.75rem 1.75rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    border: none;
}

form p {
    color: #181818;
    font-size: 0.75rem;
    text-align: left;
    margin: 0;
}

form p a{
    color: rgb(189, 32, 49);
    font-weight: 1000;
}

/* ========== FOOTER ========== */
#footer {
    background-color: rgb(189, 32, 49);
}

#footer #left-footer {
    margin: 0;
    padding: 2.5vw;
    width: 60%;
    height: 100%;
}

#footer #left-footer h3 {
    margin: 0;
    color: #FFFFFF;
    padding-bottom: 0.75rem;
}

#footer a {
    font-size: 0.85rem;
    padding-left: 2.5rem;
    text-decoration: none;
    color: #FFFFFF;
}

#footer a:hover span{
   text-decoration: underline;
}

#footer span {
    padding-left: 0.7em;
}

#footer #right-footer {
    width: 40%;
    height: 100%;
}

#footer img {
    width: 100%;
}

/* ========== MEDIA QUERRIES (CONTENT RESPONSIVENESS) ========== */
@media screen and (max-width: 1160px) {
    header #tupc-name {
        letter-spacing: 0.05rem;
        font-size: 1.8rem;
        font-weight: 1000;
        color: rgb(189, 32, 49);
        display: flex;
        justify-content: center;
    }
    
    header img {
        width: 90px;
        height: 90px;
    }
}

@media screen and (max-width: 582px) {
    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    header #tupc-name {
        font-size: 1.5rem;
        font-weight: 900;
        color: rgb(189, 32, 49);
        display: flex;
        justify-content: center;
    }
    
    header img {
        width: 90px;
        height: 90px;
    }   
}

@media screen and (max-width: 500px) {
    header #header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    header #tupc-name {
        font-size: 1.2rem;
        font-weight: 900;
        color: rgb(189, 32, 49);
        display: flex;
        justify-content: center;
    }
    
    header img {
        width: 75px;
        height: 75px;
    }
}
