@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');


body {
    overflow-x: hidden !important;
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 160px;
    min-height: 100vh;
}

/* ========== HEADER w/ NAVBAR ========== */
nav {
    background-color: #bd2031;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1.25rem;
}

#home-link {
    border-bottom: 5px solid white;
    color: white;
}

nav a:hover  {
    color: gray;
}

/* ========== MAIN CONTAINER ========== */
.headers {
    font-size: 25px;
    font-weight: 750;
    color: rgb(255, 255, 255);
    background-color: rgb(189, 32, 49);
    border-radius: 15px;
    padding: 0.75rem;
    margin-bottom: 1rem;
}

#tupc-images {
    border-top: 3vh solid #444;
    border-bottom: 3vh solid #444;
    border-right: 6vw solid #444;
    border-left: 6vw solid #444;
}

.carousel-caption {
    bottom: 0;
}

.carousel-inner > .carousel-item > img {
    width: 90%;
    height: 80vh;
}

.jump-links {
    border-radius: 10px 10px 0 0;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 150px;
}

.jump-links > a {
    text-decoration: none;
}

.jump-links > a > img {
    width: 50px;
    height: 50px;
}

.jump-links > a > h3 {
    font-size: 1.3rem;
    color: #fff;
    font-weight: 550;
}

.jump-links:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#announcement-section {
    border-bottom: 5px solid #bd2031;
}

#announcement-section > .headers{
    text-align: center;
    border-radius: 0px;
    padding: 0.5rem;
    width: 100%;
}

#announcement-section p {
    margin-bottom: 0;
    list-style: none;
    font-size: 2rem;
    text-align: center;
    padding: 0 5rem;
}

#next-prev-btn {
    display: flex;
    justify-content: center;
}

#triangle-left {
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-right: 40px solid #555;
    border-left: none;
	border-bottom: 15px solid transparent;
    margin-right: 10px;
    background-color: white;
    cursor: pointer;
}

#triangle-right {
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-left: 40px solid #bd2031;
    border-right: none;
	border-bottom: 15px solid transparent;
    margin-left: 10px;
    background-color: white;
    cursor: pointer;
}

#announcement-section button:hover{
    background-color: white;
}

#announcement-section button:focus{
    outline: 0 !important;
}

#guidelines li {
    font-size: 1rem;
    padding-bottom: 1.5rem;
    color: #181818;
}

#requirements h3 {
    padding-bottom: 0;
    margin-bottom: 0;
    color: #181818;
}

#requirements ul {
    margin-top: 0.3rem;
}

#requirements li {
    font-size: 1rem;
    padding-bottom: 1.5rem;
    color: #181818;
}

#requirements h3 {
    font-weight: 600;
    margin-left: 20px;
}

hr {
    background-color: rgb(189, 32, 49);
    height: 5px;
    border: none;
    margin-left: 20px;
}

/* ========== FOOTER ========== */
footer {
    position: absolute;
    bottom: 0;
    background-color: #5F5F5F;
}

footer p {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
    padding-bottom: 0.75rem;
    text-align: center;
}

footer a {
    font-size: 0.85rem;
    padding: 0 1.5rem;
    text-decoration: none;
    color: white;
    text-align: start;    
}

footer a:hover{
    color: white;
    text-decoration: underline;
}

footer i {
    padding-right: 0.7em;
}

/* ========== MEDIA QUERRIES (CONTENT RESPONSIVENESS) ========== */
@media screen and (max-width: 984px) {
    .carousel-caption {
        bottom: 0;
        right: 0;     
    }

    .carousel-caption > .container-fluid > .row{
        display: flex;
        flex-direction: column;
        align-items: flex-end;    
    }

    .jump-links {
        border-radius: 10px 0 0 10px;
        background-color: rgba(0, 0, 0, 0.5);
        max-width: 125px;
        margin-bottom: 20px;
    }

    .jump-links > a > img {
        width: 40px;
        height: 40px;
    }
    
    .jump-links > a > h3 {
        font-size: 1rem;
        color: #fff;
        font-weight: 500;
    }
}


@media screen and (max-width: 650px) {
    #announcement-section p {
        font-size: 1.5rem;
    }     
}