@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');


body {
    overflow-x: hidden !important;
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 160px;
    min-height: 100vh;
    background-color: rgba(189, 32, 49, 0.2);
}

/* ========== HEADER w/ NAVBAR ========== */
nav {
    background-color: #bd2031;
}

.bi-download, .bi-box-arrow-right {
    padding-right: 0.4rem;
    font-size: 1.25rem;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#download, #logout {
    margin-left: 1.5rem;
    color: white;
    font-weight: 600;
    font-size: 1.15rem;
}

#download:hover, #logout:hover  {
    color: gray;
}

/* ========== MAIN CONTAINER ========== */
#applicant-name-number > *, #applicant-course > * {
    color: white;
}
 
#course {
    text-decoration: underline;
    margin-bottom: 0;
    font-size: 1.15rem;
    font-weight: 550;
}

#applicant-info {
    background-color: rgba(189, 32, 49, 0.5);
    border-top: 5px solid #bd2031;
    border-bottom: 5px solid #bd2031;
}

#applicant-name, #control-number {
    margin-bottom: 0;
}

#applicant-name {
    font-weight: 600;
}

#admission-result-text {
    font-size: 2rem;
    font-weight: 600;
}

.results {
    height: 85%;
    padding: 1.2rem;
    background-color: white;
    border-top: 2px solid red;
    border-left: 2px solid red;
    border-right: 2px solid red;
    border-radius: 10px 10px 0 0;
}

.results > h5 {
    width: fit-content;
    margin: 0;
    padding: 0 5px;
    border-bottom: 2px solid #bd2031;
    font-weight: 600;
}

.results .details {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 15px;
}

#requirements-box label {
    font-size: 1.2rem;
}

.remarks {
    text-align: center;
    margin: 0;
    background-color: white;
    border-bottom: 2px solid red;
    border-left: 2px solid red;
    border-right: 2px solid red;
    border-radius: 0 0 10px 10px
}


/* === REMARKS COLOR IF PASSED/COMPLETE === */
.remarks > h3 {
    font-size: 1.25rem;
    padding: 15px 20px;
    border-radius: 10px;
    font-weight: 600;
}

/* ========== FOOTER ========== */
footer {
    position: absolute;
    bottom: 0;
    background-color: #5F5F5F;
}

footer p {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
    padding-bottom: 0.75rem;
    text-align: center;
}

footer a {
    font-size: 0.85rem;
    padding: 0 1.5rem;
    text-decoration: none;
    color: white;
    text-align: start;    
}

footer a:hover{
    color: white;
    text-decoration: underline;
}

footer i {
    padding-right: 0.7em;
}


/* ========== MEDIA QUERRIES (CONTENT RESPONSIVENESS) ========== */

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1920px) {
    * {
        font-size: 1.125em;
    }
}

@media (min-width: 995px) and (max-width: 1148px) {
    #requirements-box label {
        font-size: 0.95rem;
    }
}