{% extends 'base-templates/coordinator-base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
<title>TUP - Cavite | {{ user.username }} Change Password</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/c-styles/c-change-pass.css' %}" />
{% endblock %}

{% block header %}
<div class="header" id="header">
    <div>
        <i class="bi bi-list" id="hamburger" onclick="hamburgerToggle()"></i><span id="dashboard-text">
            COORDINATOR PROFILE</span>
    </div>
</div>
{% endblock %}

<hr>

{% block content %}
<form method="POST" action="{% url 'change_coordinator_password' user.pk user.username %}">
    {% csrf_token %}

    {{ password_form.old_password|as_crispy_field }}

    {{ password_form.new_password1|as_crispy_field }}

    {{ password_form.new_password2|as_crispy_field }}

    {% for field in form %}
    {{ field.errors }}
    {% endfor %}

    <br>
    <br>

    <input type="reset" class="btn btn-danger" value=" Cancel " />
    <input type="submit" class="btn btn-primary" value=" Save " />
</form>
{% endblock %}         

{% block js %}
<script src="{% static 'js/c-js/c-change-pass.js' %}"></script>
{% endblock %} 