{% extends 'base-templates/coordinator-base.html' %}

{% load static %}

{% block title %}
<title>TUP - Cavite | Admission Coordinator Table</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/c-styles/c-table.css' %}" />
{% endblock %}


{% block content %}
<!-- ================= TABLE ================= -->
<div class="container-fluid table-wrapper">
  <table id="coordinator-table" class="table table-bordered table-hover table-striped">
    <thead class="thead-dark">
      <tr>
        <th rowspan="2" style="vertical-align: middle;"></th>
        <th rowspan="2" style="vertical-align: middle;">APPLICANT NAME</th>
        <th rowspan="2" style="vertical-align: middle;">SEX</th>
        <th rowspan="2" class="searchable" style="vertical-align: middle;">COURSE</th>
        <th rowspan="2" style="vertical-align: middle;">EXAM RESULT</th>
        <th rowspan="2" style="vertical-align: middle;">MEDICAL</th>
        <th rowspan="2" style="vertical-align: middle;">INTERVIEW</th>
        <th colspan="4" style="vertical-align: middle;">REQUIREMENT</th>
      </tr>
      <tr>
        <th>Card</th>
        <th>BC</th>
        <th>GMC</th>
        <th>PSA</th>
      </tr>
    </thead>
    <tbody id="tabledata">
      {% for a, b, c, d, e, f in data %}
      <tr course={{a.course}} id="row{{a.pk}}">
        <td style="vertical-align: middle;">
          <a href="{% url 'coordinator_update' a.pk %}" title="Edit details">
            <i class="bi bi-pencil-square"></i>
          </a>
        </td>
        <td style="vertical-align: middle;">{{ f.last_name }}, {{ f.first_name }}</td>
        <td style="vertical-align: middle;">{{ a.sex }}</td>
        <td style="vertical-align: middle;">{{ a.course }}</td>

        {% if b.exam_result == 'PASSED' %}
        <td class="passed-text" style="vertical-align: middle;">{{ b.exam_result }}</td>
        {% elif b.exam_result == 'FAILED' %}
        <td class="failed-text" style="vertical-align: middle;">{{ b.exam_result }}</td>
        {% else %}
        <td style="vertical-align: middle;">-</td>
        {% endif %}

        {% if c.medical_result == 'PASSED' %}
        <td class="passed-text" style="vertical-align: middle;">{{ c.medical_result }}</td>
        {% elif c.medical_result == 'FAILED' %}
        <td class="failed-text" style="vertical-align: middle;">{{ c.medical_result }}</td>
        {% else %}
        <td style="vertical-align: middle;">-</td>
        {% endif %}

        {% if d.interview_result == 'PASSED' %}
        <td class="passed-text" style="vertical-align: middle;">{{ d.interview_result }}</td>
        {% elif d.interview_result == 'FAILED' %}
        <td class="failed-text" style="vertical-align: middle;">{{ d.interview_result }}</td>
        {% else %}
        <td style="vertical-align: middle;">-</td>
        {% endif %}

        {% if e.shs_card == True %}
        <td style="vertical-align: middle;"><i class="bi bi-check-lg"></i></td>
        {% elif e.shs_card == False %}
        <td style="vertical-align: middle;"><i class="bi bi-x-lg"></i></td>
        {% endif %}

        {% if e.good_moral_char == True %}
        <td style="vertical-align: middle;"><i class="bi bi-check-lg"></i></td>
        {% elif e.good_moral_char == False %}
        <td style="vertical-align: middle;"><i class="bi bi-x-lg"></i></td>
        {% endif %}

        {% if e.brgy_clearance == True %}
        <td style="vertical-align: middle;"><i class="bi bi-check-lg"></i></td>
        {% elif e.brgy_clearance == False %}
        <td style="vertical-align: middle;"><i class="bi bi-x-lg"></i></td>
        {% endif %}

        {% if e.birth_cert == True %}
        <td style="vertical-align: middle;"><i class="bi bi-check-lg"></i></td>
        {% elif e.birth_cert == False %}
        <td style="vertical-align: middle;"><i class="bi bi-x-lg"></i></td>
        {% endif %}

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block js %}
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>
<script src="{% static 'js/c-js/c-table.js' %}"></script>
{% endblock %}