{% extends 'base-templates/coordinator-base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
<title>TUP - Cavite | Admission Coordinator Table</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/c-styles/c-update.css' %}" />
{% endblock %}

{% block header %}
<div class="row justify-content-between header" id="header">
  <div class="coordinator-text-wrapper">
    <i class="bi bi-list" id="hamburger" onclick="hamburgerToggle()"></i><span class="coordinator-table-text">
      UPDATE DETAILS</span>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid row mt-4">
  <div class="col col-xl-5 col-lg-5 col-md-12 col-sm-12">
      <div class="container mb-3">
          <div class="division">
              <div class="img-wrapper">
                <div class="img-container2">
                  {% if applicant.user_img is None or applicant.user_img == '' %}
                  {% else %}
                    <img src="{{ applicant.user_img.url }}" alt="avatar" id="avatar" />
                  {% endif %}
                </div>
              </div>
              <h5 class="applicant-name">
                  {{ applicant.first_name }} {{ applicant.last_name }}
              </h5>
          </div>
      </div>
      
      <div class="container mt-2 mb-3">
          <div class="division">
              <h4>Requirements
                  <span>
                    <i class="bi bi-pencil-square" id="update-form-reqs" onclick="getid(this)"></i>
                  </span>
              </h4>
              <form action="{% url 'coordinator_update_reqs' applicant.pk %}" method="POST" id="reqs-form">
                  {% csrf_token %}

                  {{ rf.shs_card|as_crispy_field }}
                  {{ rf.good_moral_char|as_crispy_field }}
                  {{ rf.brgy_clearance|as_crispy_field }}
                  {{ rf.birth_cert|as_crispy_field }}

                  <input type="reset" class="btn btn-danger" value=" Cancel " onclick="hidebtn(this)">
                  <input type="submit" class="btn btn-primary" value=" Save ">
              </form>
          </div>
      </div>
  </div>
  <div class="col col-xl-7 col-lg-7 col-md-12 col-sm-12">
    <div class="container">
      <div class="division">
        <h4>Entrance Exam Details
            <span>
              <i class="bi bi-pencil-square" id="update-form-exam" onclick="getid(this)"></i>
            </span>
        </h4>
        <form action="{% url 'coordinator_update_exam' applicant.pk %}" method="POST" id="exam-form">
            {% csrf_token %}

            {{ ef.room|as_crispy_field }}
            {{ ef.date_taken|as_crispy_field }}
            <div class="form-group">
              <label for="time-duration">Time Duration</label>
              <input type="text" name="time-duration" class="form-control" value="{{ ae.time_taken }} - {{ ae.time_finished }}" readonly />
            </div>
            {{ ef.time_taken|as_crispy_field }}
            {{ ef.time_finished|as_crispy_field }}
            {{ ef.score|as_crispy_field }}
            {{ ef.exam_result|as_crispy_field }} 
            
            <input type="reset" class="btn btn-danger" value=" Cancel " onclick="hidebtn(this)">
            <input type="submit" class="btn btn-primary" value=" Save ">
        </form> 
      </div>
    </div>
  </div>
</div>
{% endblock %}
    
{% block js %}
<script src="{% static 'js/c-js/c-update.js' %}"></script>
{% endblock %}