@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');


body {
    overflow-x: hidden !important;
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 160px;
    min-height: 100vh;
}

/* ========== HEADER w/ NAVBAR ========== */
nav {
    background-color: #bd2031;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1.25rem;
}

#coordinator-link {
  border-bottom: 5px solid white;
  color: white;
}

nav a:hover  {
    color: gray;
}

#header-name{
    box-shadow: 0 0 30px black;
}


/* ========== NAME ========== */
#coor-name {
    color: rgb(189, 32, 49);
    font-weight: 550;
}

.coordinator-name {
    margin: 0 0 0 11%;
    float:left;
}

.search-combo {
    margin: 0 13.7% 0 0;
    float:right;
    padding-left: 50px;
}
/* ========== Main container ========== */
.container-fluid{
    padding: 0 7vw;
}

.table td, tr{
    text-align: center;
}

#image {
    margin-left: 50px;
}

.table tr:hover > td {
    background-color: rgb(189, 32, 49);
    color: white;
}

.table tr:first-child:hover {
    background-color: white;   
}

/* ========== Buttons ========== */

.admission-buttons {
    display: inline-block;
    padding: 10px 25px;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  .admission-buttons:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(189, 32, 49);
    border-radius: 10rem;
    z-index: -2;
  }
  .admission-buttons:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgb(128, 128, 128);
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  .admission-buttons:hover {
    color: #fff;
  }
  .admission-buttons:hover:before {
    width: 100%;
  }
  #admission{
    width: 500px;
    padding-left: 13px;
}



/* ========== FOOTER ========== */
footer {
    position: absolute;
    bottom: 0;
    background-color: gray;
}

footer p {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
    padding-bottom: 0.75rem;
    text-align: center;
}

footer a {
    font-size: 0.85rem;
    padding: 0 1.5rem;
    text-decoration: none;
    color: white;
    text-align: start;
}

footer a:hover{
    color: white;
    text-decoration: underline;
}

footer i {
    padding-right: 0.7em;
}


@media screen and (max-width: 550px) {
    nav img {
        width: 80%;
    }

    #coor-table {
        padding: 0 10vw;
    }
}
