body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

.header-wrap {
    background-color: rgb(243, 169, 169);
}

.header-logo-tupc-name {
    padding: 1vw;
    display: flex;
    flex-wrap: wrap;
}

.logo {
    padding-left: 5%;
}

#tupc-name {
    padding-left: 2%;
}

.tupc-images {
    padding-top: 30%;
    padding-bottom: 30%;
}
.login-reg-btn {
    padding-left: 80%;
}

.main-body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-wrap {
    bottom: 0;
    background-color: rgb(243, 169, 169);
    width: 100%;
}

.footer {
    padding: 0.3%;
    text-align: center;
}