/* ========== HEADER w/ NAVBAR ========== */
nav {
    background-color: #DDDDDD;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(20, 20, 20);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(58, 58, 58, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
    color: rgb(30, 30, 30);
    font-weight: 600;
    font-size: 1.25rem;
}

#dl-pdf, #logout{
    color: white;
}

nav a:hover  {
    border-bottom: 5px solid #bd2031;
    color: white;
}

/* ========== NAME ========== */
h2 {
    color: rgb(189, 32, 49);
    text-align: justify;
}
.nurse-name {
    margin: 0 0 0 13.7%;
    float:left;
}

.search-combo {
    margin: 0 13.7% 0 0;
    float:right;
}
/* ========== TABLE ========== */

.table tr:hover > td {
    background-color: #d46f78;
}

.table tr:first-child:hover {
    background-color: white;   
}

.container-fluid {
    margin:0 0 0 13%;
    display:inline-block;
    font-size: 16px;
    cursor: pointer;
}

/* ========== FOOTER ========== */
footer {
    bottom: 0;
    background-color: rgb(189, 32, 49);
}

footer #left-footer h3 {
    margin: 0;
    color: #FFFFFF;
    padding-bottom: 0.75rem;
}

footer a {
    font-size: 0.85rem;
    padding-left: 2.5rem;
    text-decoration: none;
    color: #FFFFFF;
}

footer a:hover span{
   text-decoration: underline;
}

footer span {
    padding-left: 0.7em;
}

footer img {
    width: 100%;
}