{% extends 'base-templates/applicant-base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
<title>TUP - Cavite | {{ user.username }} Credentials </title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/a-styles/a-credentials.css' %}" />
{% endblock %}

{% block content %}
<div class="header" id="header">
    <div>
        <i class="bi bi-list" id="hamburger" onclick="hamburgerToggle()"></i>
        <span id="dashboard-text">APPLICANT PROFILE</span>
    </div>
</div>
<hr>
<form method="POST" action="{% url 'applicant_credentials' user.pk user.username %}">
    {% csrf_token %}

    {{ user_form2.email|as_crispy_field }}

    {{ user_form2.username|as_crispy_field }}
    
    <br>
    <br>

    <input type="reset" class="btn btn-danger" value=" Cancel " />
    <input type="submit" class="btn btn-primary" value=" Save " />
</form>

{% endblock %}  
          
{% block js %}
<script src="{% static 'js/a-js/a-credentials.js' %}"></script>
{% endblock %} 