{% load static %}
{% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="{% static 'res/tup_logo.png' %}" />
  <title>TUP - Cavite | Applicant Login</title>

  <!-- ================= BOOTSTRAP CSS (kopyahin to sa bawat html files!!!) ================= -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
  
  <!-- ================= CSS ================= -->
  <link rel="stylesheet" href="{% static 'css/a-styles/a-login.css' %}" />
</head>


<body>
  <!-- ================= TUP-C BANNER w/ NAVIGATION BAR ================= -->
  <nav class="navbar navbar-expand-lg sticky-top px-5 py-1">
    <img class="navbar-brand p-0 m-0" src="{% static 'res/tupc-banner-white.png' %}" alt="this is TUPC banner" width="325px">
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li id="applicant-link" class="nav-item ml-3">
          <a class="nav-link" href="{% url 'applicant_login' %}">Applicant</a>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" href="{% url 'coordinator_login' %}">Coordinator</a>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" href="{% url 'interviewer_login' %}">Interview</a>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" href="{% url 'nurse_login' %}">Medical</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Message if successfully login -->
  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <div class="alert alert-success">
          {{ message }}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
  <div id="main-container" class="container-fluid">
    <!-- ================= LOGIN FORM ================= -->
    <fieldset class="container">
      <legend>Applicant Login</legend>
      <form method="POST" name="login-form" class="was-validated" action="{% url 'applicant_login' %}" >
        {% csrf_token %}
        <div class="form-group">
          <label for="applicant-username">Username</label>
          <input type="text" id="applicant-username" class="form-control" name="applicant-username" required />
        </div>
        <div class="form-group">
          <label for="applicant-password">Password</label>
          <div class="input-group">
            <input type="password" id="applicant-password" class="form-control" name="applicant-password" required />
            <div id="togglePass" class="input-group-append" onclick="togglePass(this)">
              <span class="input-group-text"><i id="eye_icon" class="bi bi-eye-fill">
              </i></span>
            </div>
          </div>
        </div>
        {% if messages %}
          {% for message in messages %}
            {% if message.tags == 'error' %}
              <div class="alert alert-danger">
                {{ message }}
              </div>
            {% endif %} 
          {% endfor %}
        {% endif %}
        <div class="form-group">
          <input type="submit" value="Login">
        </div>   
        <p class="register-here">
          If you are new applicant,
          <a href="{% url 'applicant_registration' %}">click here</a> to
          register.
        </p>
      </form>
    </fieldset>
  </div>


  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="{% static 'js/a-js/a-login.js' %}"></script>
</body>


</html>