{% extends 'base-templates/applicant-base.html' %}
{% load static %}

{% block title %}
<title>TUP - Cavite | {{ user.username }} Details</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/a-styles/a-profile.css' %}" />
{% endblock %}

{% block content %}
<div class="header" id="header">
    <div>
        <i class="bi bi-list" id="hamburger" onclick="hamburgerToggle()"></i><span id="dashboard-text">
            APPLICANT PROFILE</span>
    </div>
</div>
<hr>
<div id="applicant-profile-container">
    <div id="img-name-wrapper" class="container-fluid row justify-content-start align-items-center mx-0 px-0">
        <div class="container-fluid justify-content-start col col-xl-2 col-lg-2 col-md-12 col-sm-12 mx-0 px-0">
            <div class="img-container2">
                {% if user.user_img is None or user.user_img == '' %}
                <img src="{% static 'res/avatar-male.png' %}" class="img" id="display-img" />
                {% else %}
                <img src="{{ user.user_img.url }}" alt="avatar" class="img" />
                {% endif %}
            </div>
        </div>
        <div id="applicant"
            class="container-fluid justify-content-start col col-xl-10 col-lg-10 col-md-12 col-sm-12 mx-0 px-0">
            <h4>
                {{ user.first_name }}
                {% if user.middle_name == 'N/A' %}
                {% else %}
                {{ user.middle_name }}
                {% endif %}
                {{ user.last_name }}
                {% if user.suffix == 'N/A' %}
                {% else %}
                {{ user.suffix }}
                {% endif %}
            </h4>
        </div>
    </div>
</div>
<div id="applicant-details-wrapper">
    <h4>Applicant Details
        <span>
            <a href="{% url 'applicant_details' user.pk user.username %}">
                <i class="bi bi-pencil-square"></i>
            </a>
        </span>
    </h4>
    <br>
    <div id="bday-row" class="profile row">
        <div class="col col-xl-5 col-lg-5 col-md-5 col-sm-12">
            <h6>
                Birthdate
            </h6>
        </div>
        <div class="col col-xl-7 col-lg-7 col-md-7 col-sm-12">
            <p>
                {{ ad.birth_date }}
            </p>
        </div>
    </div>
    <div id="sex-row" class="profile row">
        <div class="col col-xl-5 col-lg-5 col-md-5 col-sm-12">
            <h6>
                Sex
            </h6>
        </div>
        <div class="col col-xl-7 col-lg-7 col-md-7 col-sm-12">
            <p>
                {{ ad.sex }}
            </p>
        </div>
    </div>
    <div id="status-row" class="profile row">
        <div class="col col-xl-5 col-lg-5 col-md-5 col-sm-12">
            <h6>
                Admission Status
            </h6>
        </div>
        <div class="col col-xl-7 col-lg-7 col-md-7 col-sm-12">
            <p>
                {{ ad.status }}
            </p>
        </div>
    </div>
    <div id="course-row" class="profile row">
        <div class="col col-xl-5 col-lg-5 col-md-5 col-sm-12">
            <h6>
                Course
            </h6>
        </div>
        <div class="col col-xl-7 col-lg-7 col-md-7 col-sm-12">
            <p>
                {{ ad.course }}
            </p>
        </div>
    </div>
    <div id="shs-strand-row" class="profile row">
        <div class="col col-xl-5 col-lg-5 col-md-5 col-sm-12">
            <h6>
                Senior High School Strand
            </h6>
        </div>
        <div class="col col-xl-7 col-lg-7 col-md-7 col-sm-12">
            <p>
                {{ ad.shs_strand }}
            </p>
        </div>
    </div>
</div>
<div id="applicant-creds-wrapper">
    <h4>Applicant Credentials
        <span>
            <a href="{% url 'applicant_credentials' user.pk user.username %}">
                <i class="bi bi-pencil-square"></i>
            </a>
        </span>
    </h4>
    <br>
    <div id="email-row" class="profile row">
        <div class="col col-xl-5 col-lg-5 col-md-5 col-sm-12">
            <h6>
                Email
            </h6>
        </div>
        <div class="col col-xl-7 col-lg-7 col-md-7 col-sm-12">
            <p>
                {{ user.email }}
            </p>
        </div>
    </div>
    <div id="username-row" class="profile row">
        <div class="col col-xl-5 col-lg-5 col-md-5 col-sm-12">
            <h6>
                Username
            </h6>
        </div>
        <div class="col col-xl-7 col-lg-7 col-md-7 col-sm-12">
            <p>
                {{ user.username }}
            </p>
        </div>
    </div>
    <div id="password-row" class="profile row">
        <div class="col col-xl-5 col-lg-5 col-md-5 col-sm-12">
            <h6>
                Password
            </h6>
        </div>
        <div class="col col-xl-7 col-lg-7 col-md-7 col-sm-12">
            <p>
                To change password, click<span>
                    <a href="{% url 'change_applicant_password' user.pk user.username %}">this</a>
                </span>.
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/a-js/a-profile.js' %}"></script>
{% endblock %}