{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="{% static 'res/tup_logo.png' %}" />
  <title>TUP - Cavite | Applicant Registration</title>

  <!-- ================= BOOTSTRAP CSS (kopyahin to sa bawat html files!!!) ================= -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

  <!-- ================= CSS ================= -->
  <link rel="stylesheet" href="{% static 'css/a-styles/a-reg.css' %}" />
</head>


<body id="body">
  <!-- ================= TUP-C BANNER w/ NAVIGATION BAR ================= -->
  <nav class="navbar navbar-expand-lg sticky-top px-5 py-1">
    <img class="navbar-brand p-0 m-0" src="{% static 'res/tupc-banner-white.png' %}" alt="this is TUPC banner" width="325px">
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li id="applicant-link" class="nav-item ml-3">
          <a class="nav-link" href="{% url 'applicant_login' %}">Applicant</a>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" href="{% url 'coordinator_login' %}">Coordinator</a>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" href="{% url 'interviewer_login' %}">Interview</a>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" href="{% url 'nurse_login' %}">Medical</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- ================= REGISTRATION FORM ================= -->
  <div id="main-container" class="container-fluid">
    {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'error' %}
          <div class="alert alert-danger">
            {{ message }}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
    <fieldset class="container">
      <legend>Applicant Registration</legend>
      <form method="POST" action="{% url 'applicant_registration' %}" name="reg-form" class="was-validated" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="reg-container" id="reg-container1">
          {{ form2.applicant_id_id }}

          {{ form1.first_name|as_crispy_field }}
  
          {{ form2.middle_name|as_crispy_field }}
  
          {{ form1.last_name|as_crispy_field }}

          <div class="form-group">
            {{ form2.suffix|as_crispy_field }}
        
          </div>
  
          <div class="container-fluid row justify-content-between m-0 p-0">
            <div class="form-group col col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 m-0 p-0">
              <div id="bday-container">
                {{ form2.birth_date|as_crispy_field }}
                
              </div>
            </div>

            <div class="form-group col col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 m-0 p-0">
              <div id="sex-container" class="form-group">
                {{ form2.sex|as_crispy_field }}
                
              </div>  
            </div>
          </div>  
        </div>

        <div class="reg-container" id="reg-container2">
          {{ form2.status|as_crispy_field }}
          
          {{ form2.course|as_crispy_field }}
          
          {{ form2.shs_strand|as_crispy_field }}
          
        </div>

        <div class="reg-container" id="reg-container3">
            {{ form1.email|as_crispy_field }}

            {{ form1.username|as_crispy_field }}

            {{ form1.password1|as_crispy_field }}
            <small class="form-text mb-3 pb-0"><i>Password should contain at least 8 characters.</i></small>
  
            {{ form1.password2|as_crispy_field }}

          <div class="form-group">
            <label for="">Select your image*</label>
            <div class="img-upload-wrapper">
              <div class="img-container">
                <img id="img" src="" alt="">
              </div>
            </div>
            <div class="img-upload-wrapper">
              <label for="img_upload" class="custom-file-upload">
                <i class="bi bi-cloud-arrow-up-fill"></i>
                Upload image
              </label>
              <input type="file" name="img_upload" id="img_upload" class="form-control" />
            </div>
          </div>

          <div class="form-group" style="display: none;">
            {{ form1.user_type|as_crispy_field }}
          </div>
        </div>

        <div id="btns" class="form-group">
          <div id="submit-btn">
            <input type="submit" id="submit" value="Register" disabled>
          </div>
          <div id="form-nums" class="form-btns">
            <input id="prev-btn" type="button" value="<" onclick="prevBtn()" disabled>&nbsp&nbsp&nbsp
            <div class="page-nums" id="one-btn">1</div>
            <div class="page-nums" id="two-btn">2</div>
            <div class="page-nums" id="three-btn">3</div>&nbsp&nbsp&nbsp
            <input id="next-btn" type="button" value=">" onclick="nextBtn()">
          </div>
        </div>
      </form>
    </fieldset>
  </div>


  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Other scripts -->
  <script src="{% static 'js/a-js/a-reg.js' %}"></script>
  

</body>


</html>