{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="{% static 'res/tup_logo.png' %}" />
  <title>TUP - Cavite | Applicant Registration</title>

  <!-- ================= BOOTSTRAP CSS (kopyahin to sa bawat html files!!!) ================= -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

  <!-- ================= CSS ================= -->
  <link rel="stylesheet" href="{% static 'css/a-styles/editApplicantAccount.css' %}" />
</head>


<body id="body">
    <!-- sidenav -->
  <div class="sidebar" id="sidebar">
    <div class="sidebar-brand" id="sidebar-brand">
      <img class="tup-logo" id="tup-logo" src="{% static 'res/tup_logo.png' %}" alt="tup logo" onclick="expandSidebar()" />
      <span id="tupc-text">TUP - Cavite Campus</span>
    </div>
    <div class="sidebar-things">
      <div class="img-wrapper">
        <div class="img-container">
          {% if user.user_img is None or user.user_img == '' %}
          {% else %}
            <img src="{{ user.user_img.url }}" alt="avatar" id="avatar" />
          {% endif %}
        </div>
      </div>

      <div id="applicant-info"> 
        <div id="applicant-name-wrapper">
          <div id="applicant-name" title="{{ ad.last_name }}, {{ ad.first_name}} {{ ad.middle_name }} {{ ad.suffix }}">
            {{ ad.last_name }}, {{ ad.first_name}} {{ ad.middle_name }} {{ ad.suffix }}
          </div>
        </div>
      </div>
      <div class="settings-wrapper">
        <div id="edit-account-wrapper"> 
          <a id="edit-account" href="#" title="Edit your Account">
            <i class="bi bi-gear"></i><span id="edit-account-text"> Edit Account</span> 
          </a>
        </div>
        <div id="download-wrapper"> 
          <a id="download" href="#" title="You may download the PDF result">
            <i class="bi bi-download"></i><span id="download-text"> Download Result</span> 
          </a>
        </div>
        <div id="logout-wrapper">
          <a id="logout" href="{% url 'applicant_logout' %}" title="Logout">
            <i class="bi bi-box-arrow-left"></i><span id="logout-text"> Logout</span> 
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- ================= REGISTRATION FORM ================= -->
  <div id="main-container" class="container-fluid">
    {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'error' %}
          <div class="alert alert-danger">
            {{ message }}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
    <form method="POST" action="{% url 'applicant_edit_account' user.pk user.username %}" name="account-form" class="was-validated" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="account-container" id="account-container">
        {{ form.first_name|as_crispy_field }}

        <div class="form-group">
          <label for="m_name">Middle Name</label>
          <input type="text" name="m_name" id="m_name" class="form-control" placeholder="Type N/A if not applicable" onkeyup="saveValue(this)" required />
        </div>

        {{ form.last_name|as_crispy_field }}

        <div class="form-group">
          <label for="suffix">Suffix</label>
          <input type="text" name="suffix" id="suffix" class="form-control" placeholder="Type N/A if not applicable" onkeyup="saveValue(this)" required />
        </div>

        <div class="container-fluid row justify-content-between m-0 p-0">
          <div class="form-group col col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 m-0 p-0">
            <div id="bday-container">
              <label for="birthdate">Birthdate*</label>
              <input type="date" name="birthdate" id="birthdate" class="form-control" onmouseleave="saveValue(this)" required />
            </div>
          </div>

          <div class="form-group col col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 m-0 p-0">
            <div id="sex-container" class="form-group">
              <label for="sex">Sex*</label>
              <select name="sex" id="sex" class="form-control" onclick="saveValue(this)" required>
                <option value="" disabled selected>Choose your sex</option>
                <option value="MALE">Male</option>
                <option value="FEMALE">Female</option>
              </select>
            </div>  
          </div>
        </div>  
      </div>

      <div class="reg-container" id="reg-container2">
        <div class="form-group" class="form-group">
          <label for="status">Admission Status*</label>
          <select name="status" id="status" class="form-control" onclick="saveValue(this)" required>
            <option value="" disabled selected>Choose your status</option>
            <option value="FRESHMEN">Freshmen</option>
            <option value="TRANSFEREE">Transferee</option>
            <option value="RETURNEE">Returnee</option>
            <option value="CROSS-ENROLEE">Cross-Enrollee</option>
            <option value="ALS">Alternative Learning System (ALS)</option>
          </select>
        </div>

        <div class="form-group">
          <label for="course">Course (1st Choice)</label>
          <select name="course" id="course" class="form-control" onclick="saveValue(this)" required>
            <option value="" disabled selected>Choose your course</option>
            <option value="BSCE">BS - Civil Engineering</option>
            <option value="BSEE">BS - Electrical Engineering</option>
            <option value="BSME">BS - Mechanical Engineering</option>
            <option value="BET-ET">BET - Electrical Technology</option>
            <option value="BET-ESET">BET - Electronics Technology Track: Industrial Automation Technology</option>
            <option value="BET-COET">BET - Computer Engineering Technology</option>
            <option value="BET-CT">BET - Civil Technology</option>
            <option value="BET-MT">BET - Mechanical Technology</option>
            <option value="BET-AT">BET - Mechanical Engineering Technology Track: Automative Technology</option>
            <option value="BET-PPT">BET - Mechanical Engineering Technology Track: Power Plant Technology</option>
            <option value="BSIE-ICT">BSIE - Information and Communication Technology</option>
            <option value="BTTE-AU">BTTE - Automative</option>
            <option value="BTTE-EL">BTTE - Electrical</option>
            <option value="BTTE-E">BTTE - Electronics</option>
            <option value="BTTE-HVACT">BTTE - Heating, Ventilation, and Air Conditioning</option>
            <option value="BTTE-CP">BTTE - Computer Programming</option>
          </select>
        </div>

        <div class="form-group">
          <label for="strand">Senior High School Strand</label>
          <input type="text" name="strand" id="strand" class="form-control"
            placeholder="Science, Technology, Engineering and Mathematics" onkeyup="saveValue(this)" required />
        </div> 
      </div>

      <div class="reg-container" id="reg-container3">
          {{ form.email|as_crispy_field }}

          {{ form.username|as_crispy_field }}

          {{ form.password1|as_crispy_field }}
          <small class="form-text mb-3 pb-0"><i>Password should contain at least 8 characters.</i></small>

          {{ form.password2|as_crispy_field }}

        <div class="form-group">
          <label for="">Select your image*</label>
          <div class="img-upload-wrapper">
            <div class="img-container">
              <img id="img" src="" alt="">
            </div>
          </div>
          <div class="img-upload-wrapper">
            <label for="img_upload" class="custom-file-upload">
              <i class="bi bi-cloud-arrow-up-fill"></i>
              Upload image
            </label>
            <input type="file" name="img_upload" id="img_upload" class="form-control" />
          </div>
        </div>

        <div class="form-group" style="display: none;">
          {{ form.user_type|as_crispy_field }}
        </div>
      </div>

      <div id="btns" class="form-group">
        <div id="submit-btn">
          <input type="submit" id="submit" value="Register" disabled>
        </div>
        <div id="form-nums" class="form-btns">
          <input id="prev-btn" type="button" value="<" onclick="prevBtn()" disabled>&nbsp&nbsp&nbsp
          <div class="page-nums" id="one-btn">1</div>
          <div class="page-nums" id="two-btn">2</div>
          <div class="page-nums" id="three-btn">3</div>&nbsp&nbsp&nbsp
          <input id="next-btn" type="button" value=">" onclick="nextBtn()">
        </div>
      </div>
    </form>
  </div>


  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Other scripts -->
  <script src="{% static 'js/a-js/a-reg.js' %}"></script> <!-- Reuse the JS of Applicant Registration cuz its the same logic -->
  

</body>


</html>