{% extends 'base-templates/base-login.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  <title>TUP - Cavite | Nurse Login</title>
{% endblock %}


{% block style %}
  <link rel="stylesheet" href="{% static 'css/m-styles/n-login.css' %}" />
{% endblock %}

{% block navbar %}
  <li class="nav-item ml-3">
    <a class="nav-link" href="{% url 'applicant_login' %}">Applicant</a>
  </li>
  <li class="nav-item ml-3">
    <a class="nav-link" href="{% url 'coordinator_login' %}">Coordinator</a>
  </li>
  <li class="nav-item ml-3">
    <a class="nav-link" href="{% url 'interviewer_login' %}">Interview</a>
  </li>
  <li id="medical-link" class="nav-item ml-3">
    <a class="nav-link" href="{% url 'nurse_login' %}">Medical</a>
  </li>
{% endblock %}

{% block form %}
  <legend>Nurse Login</legend>
  <form method="POST" name="login-form" class="was-validated" action="{% url 'nurse_login' %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" class="form-control" name="username" required />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <div class="input-group">
        <input type="password" id="password" class="form-control" name="password" required />
        <div id="togglePass" class="input-group-append" onclick="togglePass(this)">
          <span class="input-group-text"><i id="eye_icon" class="bi bi-eye-fill">
            </i></span>
        </div>
      </div>
    </div>
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'error' %}
    <div class="alert alert-danger">
      {{ message }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    <div class="form-group">
      <input type="submit" value="Login">
    </div>
  </form>
{% endblock %}

{% block js %}
  <script src="{% static 'js/m-js/n-login.js' %}"></script>
{% endblock %}
