{% load static %}

{% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TUP - Cavite | Nurse Table</title>
  <link rel="icon" href="{% static 'imgs/tup_logo.png' %}" />

  <!-- ================= BOOTSTRAP ================= -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

  <!-- ================= CSS ================= -->
  <link rel="stylesheet" href="{% static 'css/m-styles/n-table.css' %}" />
</head>


<body id="body">
  <!-- sidenav -->
  <div class="sidebar" id="sidebar">
    <div class="sidebar-brand" id="sidebar-brand">
      <span><img class="tup-logo" id="tup-logo" src="{% static 'imgs/tup_logo.png' %}" alt="tup logo" onclick="hamburgerToggle()">
      </span><span id="tupc-text">TUP - Cavite Campus</span>
    </div>
    <div class="sidebar-things">
      <img src="{% static 'imgs/avatar-male.png' %}" alt="avatar" id="avatar" />
      <div id="nurse-info">
        <div id="nurse-name-wrapper">
          <h6 id="nurse-name">{{ user.last_name }}, {{ user.first_name }}</h6>
        </div>
      </div>
      <div id="download-wrapper">
        <a id="download" href="#">
          <i class="bi bi-download"></i><span id="download-text" title="Download PDF"> Download Result</span>
        </a>
      </div>
      <div id="logout-wrapper">
        <a id="logout" href="#">
          <i class="bi bi-box-arrow-left"></i><span id="logout-text" title="Logout"> Logout</span>
        </a>
      </div>
    </div>
  </div>
  <!-- ================= MAIN CONTENT ================= -->
  <div class="main-content" id="main-content">
    <div class="main-container">
      <div class="row justify-content-between header" id="header">
        <div class="nurse-text-wrapper">
          <i class="bi bi-list" id="hamburger" onclick="hamburgerToggle()"></i><span class="nurse-table-text">
            NURSE TABLE</span>
        </div>
        <!-- ================= SEARCH ================= -->
        <div class="search-combo-wrapper">
          <div class="search-wrapper">
            <i class="bi bi-search"></i>
            <input type="search" name="search"
              id="search-input" onkeyup="tableSearch()" placeholder="Search here">
          </div>
          <!-- ================= SELECT COURSE ================= -->
          <div class="select-wrapper">
            <label id="label-course">Course</label>
            <select id="select-course">
              <option label="--Select Course--" disabled></option>
              <option value="All" selected>All</option>
              <option value="BSCE">BSCE</option>
              <option value="BSEE">BSEE</option>
              <option value="BSME">BSME</option>
              <option value="BET-ET">BET-ET</option>
              <option value="BET-ESET">BET-ESET</option>
              <option value="BET-COET">BET-COET</option>
              <option value="BET-CT">BET-CT</option>
              <option value="BET-MT">BET-MT</option>
              <option value="BET-AT">BET-AT</option>
              <option value="BET-PPET">BET-PPET</option>
              <option value="BSIE-ICT">BSIE-ICT</option>
              <option value="BTTE-AU">BTTE-AU</option>
              <option value="BTTE-EL">BTTE-EL</option>
              <option value="BTTE-E">BTTE-E</option>
              <option value="BTTE-HVACT">BTTE-HVACT</option>
              <option value="BTTE-CP">BTTE-CP</option>
            </select>
          </div>
        </div>
      </div>
      <hr>
      <!-- ================= TABLE ================= -->
      <!-- Modal -->
      <div class="modal fade" id="nurse-table-modal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal-title"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method="POST"> 
                {% csrf_token %}
                <div class="form-group">
                  {{ form.medical_result|as_crispy_field }}
                </div>
                <div class="form-group">
                  {{ form.medical_file|as_crispy_field }}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid table-wrapper">
        <div class="table-responsive">
          <table id="nurse-table" class="table table-bordered table-hover table-striped">
            <thead class="thead-dark">
              <tr>
                <th></th>
                <th>NAME</th>
                <th>COURSE</th>
                <th>MEDICAL RESULT</th>
                <th>MEDICAL FILE</th>
              </tr>
            </thead>
            <tbody id="tabledata">
              {% for a, b in data %}
              <tr course = {{a.course}} id={{a.applicant_id_id}}>
                <td>
                  <button type="button" class="btn btn-primary update-btn" data-toggle="modal" data-target="#nurse-table-modal">
                  Update
                  </button>
                </td> 
                <td style="vertical-align: middle;">{{ a.last_name }}, {{ a.first_name }}</td>
                <td style="vertical-align: middle;">{{ a.course }}</td>
                <td style="vertical-align: middle;">{{ b.medical_result }}</td>
                <td style="vertical-align: middle;">{{ b.medical_file}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Other scripts -->
  <script src="{% static 'js/m-js/n-table.js' %}"></script>
  
</body>


</html>