{% extends 'base-templates/medical-base.html' %}

{% load static %}

{% block title %}
<title>TUP - Cavite | Nurse Table</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/m-styles/n-table.css' %}" />
{% endblock %}


{% block content %}
<!-- ================= TABLE ================= -->
<div class="container-fluid table-wrapper">
  <div class="table-responsive">
    <table id="nurse-table" class="table table-bordered table-hover table-striped">
      <thead class="thead-dark">
        <tr>
          <th></th>
          <th>NAME</th>
          <th>COURSE</th>
          <th>MEDICAL RESULT</th>
          <th>MEDICAL FILE</th>
        </tr>
      </thead>
      <tbody id="tabledata">
        {% for a, b, c in data %}
          <tr course = {{a.course}} id="row{{a.pk}}">
            <td style="vertical-align: middle;">
              <a href="{% url 'nurse_update' a.pk %}" title="Edit details">
                <i class="bi bi-pencil-square"></i>
              </a>
            </td>
            <td style="vertical-align: middle;">{{ a.last_name }}, {{ a.first_name }}</td>
            <td style="vertical-align: middle;">{{ b.course }}</td>
            {% if c.medical_result == 'PASSED' %}
            <td class="passed-text" style="vertical-align: middle;">{{ c.medical_result }}</td>
            {% elif c.medical_result == 'FAILED' %}
              <td class="failed-text" style="vertical-align: middle;">{{ c.medical_result }}</td>
            {% else %}
              <td style="vertical-align: middle;">-</td>
            {% endif %}
            {% if c.medical_file == '' or c.medical_file is None %}
              <td style="vertical-align: middle;">No File</td>
            {% else %}    
              <td style="vertical-align: middle;"><a href="{{ c.medical_file.url }}" target="_blank">{{ c.medical_filename }}</a></td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>
<script src="{% static 'js/m-js/n-table.js' %}"></script>
{% endblock %}
