
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');


body {
    overflow-x: hidden !important;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    max-height: 100vh;
}

/* === SIDENAV === */
.sidebar {
    z-index: 100;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1%;
    height: 100%;
    width: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #a7545c;
    overflow-x: hidden;
    transition: 0.5s;
    white-space: nowrap;
    border-radius: 0px 20px 20px 0;
}

.sidebar-brand {
    color: white;
    font-weight: 700;
}


#tup-logo {
    max-width: 60px;
    cursor: pointer;
}

#tupc-text {
    visibility: hidden;
}

.sidebar-things {
    margin-top: 80px;
}

.img {
    display: block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-wrapper {
    display: flex;
    justify-content: center;
}

.img-container {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    background-color: white;
}

.img-container2 {
    text-align: center;
    border: 2px solid rgb(78, 78, 78);
    border-radius: 50px;
    background-color: white;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

#img-upload {
    display: none
}

#avatar {
    display: block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#nurse-name {
    white-space: nowrap;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 60px;
    text-align: center;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    visibility: hidden;
}

.bi-house, .bi-person, .bi-download, .bi-box-arrow-left {
    padding-right: 0.4rem;
    font-size: 1.8rem;
    font-weight: 700;
}

#home-wrapper, #profile-wrapper, #download-wrapper, #logout-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

#home, #profile, #download, #logout {
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
}

#home-text, #profile-text, #download-text, #logout-text {
    display: none;
    visibility: hidden;
    color: white;
}

#home:hover, #profile:hover, #download:hover, #logout:hover {
    color: gray;
}

/* === MAIN CONTAINER === */
.main-content {
    margin-top: 1%;
    margin-left: 100px;
    padding-left: 1%;
}

.main-container {
    margin: 1% 1%;
}

.header {
    margin-left: 0px;
    margin-right: 0px;
}

.bi-list {
    cursor: pointer;
    font-size: 30px;
    color: white;
    background-color: #bd2031;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 20px;
    display: none;
}

.nurse-table-text {
    color: #bd2031;
    font-size: 1.5rem;
    font-weight: 1000;
}

.nurse-text-wrapper {
    margin-right: 50px;
}

hr {
    margin-top: 0;
    margin-bottom: 1%;
    background-color: #bd2031;
    min-height: 2px;
}

.nurse-name2 {
    text-align: center;
}

.division {
    padding: 30px;
    border-radius: 40px;
    background: #f0f0f0;;
    box-shadow:  6px 6px 10px #d1d1d1,
                -6px -6px 10px #ffffff;
}

.bi-pencil-square {
    font-size: 20px;
    color: green;
    cursor: pointer;
}

h4 {
    margin-bottom: 3%;
    font-weight: 700;
}

input[type="reset"], input[type="submit"] {
    display: none;
}

/* ========== MEDIA QUERRIES (CONTENT RESPONSIVENESS) ========== */
@media (max-width: 550px) {
    .sidebar {
        left: -100px;
    }

    #nurse-name {
        font-size: 16px;
    }

    .bi-house, .bi-person, .bi-download, .bi-box-arrow-left {
        font-size: 1.2rem;
    }
    
    #home, #profile, #download, #logout {
        color: white;
        font-weight: 500;
        font-size: 0.9rem;
    }
    
    #nurse-table-text {
        font-size: 1.3rem;
    }

    .main-content {
        margin-left: 0px !important;
    }

    .bi-list {
        display: inline-block;
        cursor: pointer;
        font-size: 1.25rem;
        color: white;
        background-color: #bd2031;
        padding-left: 6px;
        padding-right: 6px;
        border-radius: 20px;
    }

    #nurse-table {
        padding: 0 10vw;
    }
}


/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .sidebar {
        left: -100px;
    }

    .bi-list {
        display: inline-block;
        cursor: pointer;
        font-size: 1.25rem;
        color: white;
        background-color: #bd2031;
        padding-left: 6px;
        padding-right: 6px;
        border-radius: 20px;
    }

    .main-content {
        margin-left: 0px!important;
    }
}
