{% load static %}


<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="{% static 'res/tup_logo.png' %}" />
  <title>TUP - Cavite | Admission Coordinator Table</title>

  <!-- ================= BOOTSTRAP CSS (kopyahin to sa bawat html files!!!) ================= -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
  
  <!-- ================= CSS ================= -->
  <link rel="stylesheet" href="{% static 'css/coordinator-table.css' %}" />
</head>


<body>
  <!-- ================= TUP-C BANNER w/ NAVIGATION BAR ================= -->
  <nav class="navbar navbar-expand-lg sticky-top px-5 py-1">
    <img class="navbar-brand p-0" src="{% static 'res/tupc-banner-red.png' %}" alt="this is TUPC banner" width="375px">
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li id="dl-pdf" class="nav-item ml-3">
          <a class="nav-link" href=""> <i class="bi bi-download"></i> DOWNLOAD PDF</a>
        </li>
        <li id="logout" class="nav-item ml-3">
          <a class="nav-link" href="{% url 'coordinator-login' %}">
            <i class="bi bi-box-arrow-right"></i>LOGOUT</a>
        </li>
      </ul>
    </div>
  </nav>

  <br>

<!-- ================= SELECT COURSE ================= -->
<div  class="container-fluid mx-0 row justify-content-between align-items-center">
  <h2 id="coor-name">Hello, Juan Dela Cruz</h2>
  <div class="row px-0 mx-0 justify-content-start search-combo">
    <input type="search" name="search" id="search" onkeyup="tableSearch()" placeholder="Search here">
      <!-- ================= SELECT COURSE ================= -->
      <div>
        <label id="label-course">Filter by Course</label>
        <select id="select-course">
          <option value="All" selected>All</option>
          <option value="BSCE">BSCE</option>
          <option value="BSEE">BSEE</option>
          <option value="BSME">BSME</option>
          <option value="BET-ET">BET-ET</option>
          <option value="BET-ESET">BET-ESET</option>
          <option value="BET-COET">BET-COET</option>
          <option value="BET-CT">BET-CT</option>
          <option value="BET-MT">BET-MT</option>
          <option value="BET-AT">BET-AT</option>
          <option value="BET-PPET">BET-PPET</option>
          <option value="BSIE-ICT">BSIE-ICT</option>
          <option value="BTTE-AU">BTTE-AU</option>
          <option value="BTTE-EL">BTTE-EL</option>
          <option value="BTTE-E">BTTE-E</option>
          <option value="BTTE-HVACT">BTTE-HVACT</option>
          <option value="BTTE-CP">BTTE-CP</option>
        </select>
      </div>
    </div>
  </div>
      <!-- TABLE -->
      <BR></BR>
      <div class="container-fluid">
        <div class="table-responsive" style = "overflow-y: scroll; height:60vh;">
          <table id="coor-table" class="table table-bordered table table-hover">
            <thead class="thead-dark">
              <tr>
                <th rowspan="2" ></th>&nbsp;</th> 
                <th rowspan="2" style="vertical-align: middle;" class="text-center">NAME OF APPLICANT</th>
                <th rowspan="2" style="vertical-align: middle;" class="text-center">SEX</th>
                <th rowspan="2" style="vertical-align: middle;" class="text-center">SCORE</th>
                <th rowspan="2" style="vertical-align: middle;" class="text-center">COURSE</th>
                <th rowspan="2" style="vertical-align: middle;" class="text-center">MEDICAL</th>
                <th rowspan="2" style="vertical-align: middle;" class="text-center">INTERVIEW</th>
                <th colspan="4" style="vertical-align: middle;" class="text-center">REQUIREMENT</th>
                  </tr>
                      <tr>
                        <th class="text-center">Card</th>
                        <th class="text-center">BC</th>
                        <th class="text-center">GMC</th>
                        <th class="text-center">PSA</th>
                      </tr>      
            </thead>

            <tbody id="tabledata"></tbody>

          </table>
        </div>
      </div>
    <br>
    </div>
    <HR></HR>

    </div>
      <!-- ================= FOOTER ================= -->
      {% include 'footer-scripts.html' %}

  <!-- Other scripts -->
  <script src="{% static 'js/coor-table.js' %}"></script>
  
</body>

</html>