{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="{% static 'res/tup_logo.png' %}" />
  <title>TUP - Cavite | Nurse Login</title>

  <!-- ================= BOOTSTRAP ================= -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

  <!-- ================= CSS ================= -->
  <link rel="stylesheet" href="{% static '/css/nurse-login.css' %}" />
  <link rel="icon" href="{% static 'res/tup_logo.png' %}" />
</head>


<body>
  <!-- ================= TUP-C BANNER w/ NAV BAR ================= -->
  {% include 'navbar1.html' %}

  
  <div id="main-container">
    <!-- ================= LOGIN FORM ================= -->
    <fieldset class="container">
      <legend>Nurse Login</legend>
      <form name="login-form" action="javascript:validateLogin();" class="was-validated">
        <div class="form-group">
          <label for="nurse-email">Email Address</label>
          <input type="email" id="nurse-email" class="form-control" name="nurse-email" required />
        </div>
        <div class="form-group">
          <label for="nurse-pass">Password</label>
          <input type="password" id="nurse-pass" class="form-control" name="nurse-pass" required />
        </div>
        <div class="form-group">
          <input type="submit" value="Login">
        </div>   
      </form>
    </fieldset>
  </div>

  <!-- ================= FOOTER ================= -->
  {% include 'footer-scripts.html' %}

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Other scripts -->
  <script src="{% static 'js/nurse-login.js' %}"></script>
</body>


</html>