{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TUP - Cavite | Nurse Table</title>

  <!-- ================= BOOTSTRAP ================= -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

  <!-- ================= CSS ================= -->
  <link rel="stylesheet" href="{% static '/css/nurse-table.css' %}" />
  <link rel="icon" href="{% static 'res/tup_logo.png' %}" />
</head>


<body>
  <!-- ================= TUP-C BANNER w/ DL PDF & LOGOUT ================= -->
  {% include 'navbar2.html' %}

  <br>

  <!-- ================= SEARCH , COMBO, NAME ================= -->
  <div class="container-fluid mx-0 row justify-content-between align-items-center">
    <h2 id="nurse-name">Hello, Juan Dela Cruz</h2>
    <div class="row px-0 mx-0 justify-content-end search-combo">
      <input type="search" id="myinput" onkeyup="tableSearch()" placeholder="Search Name">

      <!-- ================= SELECT COURSE ================= -->
      <div>
        <label id="label-course"> Filter by Course </label>
        <select id="select-course">
          <option value="All" selected> All</option>
          <option value="BSCE">BSCE</option>
          <option value="BSEE">BSEE</option>
          <option value="BSME">BSME</option>
          <option value="BET-ET">BET-ET</option>
          <option value="BET-ESET">BET-ESET</option>
          <option value="BET-COET">BET-COET</option>
          <option value="BET-CT">BET-CT</option>
          <option value="BET-MT">BET-MT</option>
          <option value="BET-AT">BET-AT</option>
          <option value="BET-PPT">BET-PPT</option>
          <option value="BSIE-ICT">BSIE-ICT</option>
          <option value="BTTE-AU">BTTE-AU</option>
          <option value="BTTE-EL">BTTE-EL</option>
          <option value="BTTE-E">BTTE-E</option>
          <option value="BTTE-HVACT">BTTE-HVACT</option>
          <option value="BTTE-CP">BTTE-CP</option>
        </select>

      </div>

    </div>
  </div>

  <br>
  <div class="container-fluid row justify-content-center buttons">
    <button type="button" onclick="clickedPassed()" class="btn-space" id="passed-btn" value="Passed"> PASSED </button>
    &nbsp;
    <button type="button" onclick="clickedFailed()" class="btn-space" id="failed-btn" value="Failed"> FAILED </button>
  </div>

  <br>

  <div class="container-fluid">
    <div class="table-responsive" style = "overflow-y: scroll; height:60vh;">
      <table id="mytable" class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th col-index = 1>NAME</th>
            <th col-index = 2>CONTROL NUMBER</th>
            <th col-index = 3>COURSE</th>
            <th col-index = 4>EMAIL</th>
            <th col-index = 5>MEDICAL RESULT</th>
            <th col-index = 6>MEDICAL FILE</th>
          </tr>
        </thead>
        
        <tbody id="tabledata"></tbody>

      </table>
    </div>
  </div>

  <!-- ================= FOOTER ================= -->
  {% include 'footer-scripts.html' %}

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Other scripts -->
  <script src="{% static 'js/nurse-table.js' %}"></script>
  
</body>

</html>