{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="{% static 'res/tup_logo.png' %}" />
  <title>TUP - Cavite | Applicant Registration</title>

  <!-- ================= BOOTSTRAP CSS (kopyahin to sa bawat html files!!!) ================= -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

  <!-- ================= CSS ================= -->
  <link rel="stylesheet" href="{% static 'css/applicant-reg.css' %}" />
</head>


<body>
  <!-- ================= TUP-C BANNER w/ NAVIGATION BAR ================= -->
  {% include 'navbar1.html' %}

  <!-- ================= REGISTRATION FORM ================= -->
  <div id="main-container" class="container-fluid">
    <fieldset class="container">
      <legend>Applicant Registration</legend>
      <form name="reg-form" action="javascript:register();" class="was-validated">
        <div class="form-group">
          <label for="f-name">First Name</label>
          <input type="text" name="f-name" id="f-name" class="form-control" placeholder="Juan" required />
        </div>

        <div class="form-group">
          <label for="m-name">Middle Name</label>
          <input type="text" name="m-name" id="m-fname" class="form-control" placeholder="-" />
          <small class="form-text mb-0 pb-0"><i>Leave it blank if has nothing to input.</i></small>
        </div>

        <div class="form-group">
          <label for="l-name">Last Name</label>
          <input type="text" name="l-name" id="l-name" class="form-control" placeholder="Dela Cruz" required />
        </div>

        <div class="container-fluid row justify-content-between m-0 p-0">
          <div class="form-group col col-md-4 col-12 pl-0">
            <label for="suffix">Suffix</label>
            <input type="text" name="suffix" id="suffix" class="form-control" placeholder="e.g. III, Jr." />
            <small class="form-text mb-0 pb-0"><i>Leave it blank if has nothing to input.</i></small>
          </div>
          <div class="form-group col col-md-5 col-12 pl-0">
            <label for="name">Birthdate</label>
            <input type="date" name="birthdate" id="birthdate" class="form-control" required />
          </div>
          <div id="sex" class="form-group col col-md-3 col-12 pl-0">
            <h5>Sex</h5>
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" id="sex-male" name="radio-stacked-1" required>
              <label class="custom-control-label" for="sex-male">Male</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" id="sex-female" name="radio-stacked-1" required>
              <label class="custom-control-label" for="sex-female">Female</label>
            </div>
          </div>
        </div>
        <hr>

        <div id="admission-status" class="form-group">
          <h5>Admission Status</h5>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="freshmen" name="radio-stacked-2" required>
            <label class="custom-control-label" for="freshmen">Freshmen</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="transferee" name="radio-stacked-2" required>
            <label class="custom-control-label" for="transferee">Transferee</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="returnee" name="radio-stacked-2" required>
            <label class="custom-control-label" for="returnee">Returnee</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="cross-enrollee" name="radio-stacked-2" required>
            <label class="custom-control-label" for="cross-enrollee">Cross-Enrollee</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="als" name="radio-stacked-2" required>
            <label class="custom-control-label" for="als">Alternative Learning System (ALS)</label>
          </div>
        </div>

        <div class="form-group">
          <label for="course">Course (1st Choice)</label>
          <select name="course" id="course" class="custom-select" required>
            <option value="">Select Course</option>
            <option value="bsce">BS - Civil Engineering</option>
            <option value="bsee">BS - Electrical Engineering</option>
            <option value="bsme">BS - Mechanical Engineering</option>
            <option value="bet-et">BET - Electrical Technology</option>
            <option value="bet-eset">BET - Electronics Technology Track: Industrial Automation Technology</option>
            <option value="bet-coet">BET - Computer Engineering Technology</option>
            <option value="bet-ct">BET - Civil Technology</option>
            <option value="bet-mt">BET - Mechanical Technology</option>
            <option value="bet-at">BET - Mechanical Engineering Technology Track: Automative Technology</option>
            <option value="bet-ppt">BET - Mechanical Engineering Technology Track: Power Plant Technology</option>
            <option value="bsie-ict">BSIE - Information and Communication Technology</option>
            <option value="btte-au">BTTE - Automative</option>
            <option value="btte-el">BTTE - Electrical</option>
            <option value="btte-e">BTTE - Electronics</option>
            <option value="btte-hvact">BTTE - Heating, Ventilation, and Air Conditioning</option>
            <option value="btte-cp">BTTE - Computer Programming</option>
          </select>
        </div>

        <div class="form-group">
          <label for="strand">Senior High School Strand</label>
          <input type="text" name="strand" id="strand" class="form-control"
            placeholder="Science, Technology, Engineering and Mathematics" required />
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" class="form-control" placeholder="you@email.com" required />
        </div>

        <div class="form-group">
          <label for="pass">Password</label>
          <input type="password" name="pass" id="pass" class="form-control" required />
          <small class="form-text mb-0 pb-0"><i>Password should contain at least 8 characters.</i></small>
        </div>

        <div class="form-group">
          <label for="pass">Confirm Password</label>
          <input type="password" name="confirm-pass" id="confirm-pass" class="form-control" required />
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" value="" id="check" required>
          <label class="form-check-label" for="check">
            All information given above was all true and correct.
          </label>
        </div>
        <br>
        <br>
        <div class="form-group">
          <input type="submit" value="Register">
        </div>
      </form>
    </fieldset>
  </div>

  <!-- ================= FOOTER ================= -->
  {% include 'footer-scripts.html' %}

  <!-- Other scripts -->
  <script src="{% static 'js/applicant-reg.js' %}"></script>

</body>


</html>