@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');


body {
    overflow-x: hidden !important;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* === SIDENAV === */
.sidebar {
    z-index: 100;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1%;
    height: 100%;
    width: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #a7545c;
    overflow-x: hidden;
    transition: 0.5s;
    white-space: nowrap;
    border-radius: 0px 20px 20px 0;
}

.sidebar-brand {
    color: white;
    font-weight: 700;
}

img {
    max-width: 60px;
}

#tup-logo {
    cursor: pointer;
}

#tupc-text {
    visibility: hidden;
}

.sidebar-things {
    margin-top: 80px;
}


.img-wrapper {
    display: flex;
    justify-content: center;
}

.img-container {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    background-color: white;

}

#avatar {
    display: block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#applicant-name {
    white-space: nowrap;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 100px;
    text-align: center;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    visibility: hidden;
}

.bi-gear, .bi-download, .bi-box-arrow-left {
    padding-right: 0.4rem;
    font-size: 1.8rem;
    font-weight: 700;
}


#edit-account-wrapper, #download-wrapper, #logout-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

#edit-account, #download, #logout {
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
}

#edit-account-text, #download-text, #logout-text {
    display: none;
    visibility: hidden;
    color: white;
}

#edit-account:hover, #download:hover, #logout:hover {
    color: gray;
}


/* === MAIN CONTAINER === */
.main-content {
    margin-top: 1%;
    margin-left: 100px;
}

.main-container {
    margin: 1% 3%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

.bi-list {
    display: none;
}

#dashboard-text {
    color: #bd2031;
    font-size: 2rem;
    font-weight: 1000;
}

#fname {
    float: right;
    font-size: 1rem;
    margin-bottom: 0;
    font-weight: 700;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
    background-color: #bd2031;
    min-height: 2px;
}

h6 {
    font-weight: 600;
}

h6 > span {
    padding-left: 1rem;
    font-weight: normal;
}

.applicant-details-wrapper, .applicant-remarks-wrapper {
    margin-bottom: 20px;
}

.applicant-details {
    padding: 2rem;

    border-radius: 50px;
    background: #fcd4d4;
    box-shadow:  8px 8px 10px #fdcbcb,
            -8px -8px 20px #ffe9e9;
    width: 100%;
    height: 100%;
}

.applicant-remarks {
    padding: 2rem;
    border-radius: 50px;
    background: #fcd4d4;
    box-shadow:  8px 8px 10px #fdcbcb,
            -8px -8px 20px #ffe9e9;
    height: 100%;
    width: 100%;
}

.applicant-remarks h6 {
    margin-bottom: 20px;
}

.applicant-details > h4 {
    font-size: 16px;
}

.result-details {
    margin-top: 100px;
}

.table-details {
    margin-left: 2%;
    margin-right: 2%;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 20px;
    background: #f0f0f0;
    box-shadow:  10px 10px 30px #bebebe,
             -10px -10px 30px #ffffff;
}


/* ========== MEDIA QUERRIES (CONTENT RESPONSIVENESS) ========== */

/* Small devices (landscape phones, 576px and up) */

@media (max-width: 576px) {
    .sidebar {
        z-index: 100;
        left: -100px;
    }

    #fname {
        display: none;
    }

    #applicant-name {
        font-size: 16px;
    }
    
    .bi-gear, .bi-download, .bi-box-arrow-left {
        font-size: 1.2rem;
    }
    
    #edit-account, #download, #logout {
        color: white;
        font-weight: 500;
        font-size: 0.9rem;
    }
    
    #dashboard-text {
        font-size: 1.3rem;
    }
    
    .applicant-details > h4 {
        font-size: 14px;
    }

    .main-content {
        margin-left: 0px !important;
    }

    .table-details {
        margin-left: 0px;
        margin-right: 0px;
    }
}


/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .sidebar {
        z-index: 100;
        left: -100px;
    }

    #fname {
        display: none;
    }

    .bi-list {
        display: inline-block;
        cursor: pointer;
        font-size: 1.25rem;
        color: white;
        background-color: #bd2031;
        padding-left: 6px;
        padding-right: 6px;
        border-radius: 20px;
    }

    .main-content {
        margin-left: 0px !important;
    }
}

@media (max-width: 900px) {
    #fname {
        display: none;
    }
}


/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    .sidebar {
        width: 100px; /* 0 width - change this with JavaScript */
    }

    #download-wrapper, #logout-wrapper {
        justify-content: center;
    }

    #download-text, #logout-text {
        visibility: none;
        display: none;
    }

    .main-content {
        margin-left: 100px;
    }
}