{% load static %}


<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'res/tup_logo.png' %}" />

    {% block title %}

    {% endblock %}

    <!-- ================= BOOTSTRAP CSS (kopyahin to sa bawat html files!!!) ================= -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

    <!-- ================= CSS ================= -->
    {% block style %}

    {% endblock %}
</head>


<body>
    <!-- ================= TUP-C BANNER w/ NAVIGATION BAR ================= -->
    <nav class="navbar navbar-expand-lg sticky-top px-5 py-1">
        <img class="navbar-brand p-0 m-0" src="{% static 'res/tupc-banner-white.png' %}" alt="this is TUPC banner"
            width="325px">
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                {% block navbar %}

                {% endblock %}
            </ul>
        </div>
    </nav>

    <!-- Message if successfully login -->
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    <div id="main-container" class="container-fluid">
        <!-- ================= LOGIN FORM ================= -->
        <fieldset class="container">
            {% block form %}

            {% endblock %}
        </fieldset>
    </div>


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {% block js %}

    {% endblock %}
</body>


</html>