{% load static %}


<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="{% static 'res/tup_logo.png' %}" />

  {% block title %}

  {% endblock %}

  <!-- ================= BOOTSTRAP CSS (kopyahin to sa bawat html files!!!) ================= -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

  <!-- ================= CSS ================= -->
  {% block style %}

  {% endblock %}
</head>


<body id="body">
  <!-- sidenav -->
  <div class="sidebar" id="sidebar">
    <div class="sidebar-brand" id="sidebar-brand">
      <span><img class="tup-logo" id="tup-logo" src="{% static 'res/tup_logo.png' %}" alt="tup logo"
          onclick="expandSidebar()">
      </span><span id="tupc-text">TUP - Cavite Campus</span>
    </div>
    <div class="sidebar-things">
      <div class="img-wrapper">
        <div class="img-container">
          {% if user.user_img is None or user.user_img == '' %}
          {% else %}
          <img src="{{ user.user_img.url }}" alt="avatar" id="avatar" />
          {% endif %}
        </div>
      </div>
      <div id="coordinator-info">
        <div id="coordinator-name-wrapper">
          <div id="coordinator-name" title="{{ user.last_name }}, {{ user.first_name }}">
            {{ user.last_name }}, {{ user.first_name }}
          </div>
        </div>
      </div>
      <div class="settings-wrapper">
        <div id="home-wrapper">
          <a id="home" href="{% url 'coordinator_table' %}" title="Go to your table">
            <i class="bi bi-house"></i><span id="home-text"> Home</span>
          </a>
        </div>
        <div id="profile-wrapper"> 
          <a id="profile" href="{% url 'coordinator_profile' user.pk user.username %}" title="See your profile">
            <i class="bi bi-person"></i><span id="profile-text"> Profile</span> 
          </a>
        </div>
        <div id="download-wrapper">
          <a id="download" href="#" title="You may download the PDF result">
            <i class="bi bi-download"></i><span id="download-text"> Download Result</span>
          </a>
        </div>
        <div id="logout-wrapper">
          <a id="logout" href="{% url 'coordinator_logout' %}" title="Logout">
            <i class="bi bi-box-arrow-left"></i><span id="logout-text"> Logout</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- ================= MAIN CONTENT ================= -->
  <div class="main-content" id="main-content">
    <div class="main-container">
      {% block header %}
      <div class="row justify-content-between header" id="header">
        <div class="coordinator-text-wrapper">
          <i class="bi bi-list" id="hamburger" onclick="hamburgerToggle()"></i><span class="coordinator-table-text">
            COORDINATOR TABLE</span>
        </div>
      </div>
      {% endblock %}

      <hr>

      {% block content %}

      {% endblock %}

    </div>
  </div>

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Other scripts -->
  {% block js %}

  {% endblock %}

</body>


</html>