
{% extends 'base-templates/interviewer-base.html' %}

{% load static %}

{% block title %}
<title>TUP - Cavite | Interviewer Table</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/i-styles/i-table.css' %}" />
{% endblock %}


{% block content %}
<!-- ================= TABLE ================= -->
<div class="container-fluid table-wrapper">
  <div class="table-responsive">
    <table id="interviewer-table" class="table table-bordered table-hover table-striped">
      <thead class="thead-dark">
        <tr>
          <th></th>
          <th>NAME</th>
          <th>COURSE</th>
          <th>INTERVIEW DATE</th>
          <th>VENUE</th>
          <th>INTERVIEWER</th>
          <th>RESULT</th>
        </tr>
      </thead>
      <tbody id="tabledata">
      {% for a, b, c in data %}
        <tr course = {{a.course}} id="row{{a.pk}}">
          <td style="vertical-align: middle;">
            <a href="{% url 'interviewer_update' a.pk %}" title="Edit details">
              <i class="bi bi-pencil-square"></i>
            </a>
          </td> 
          <td style="vertical-align: middle;">{{ a.last_name }}, {{ a.first_name }}</td>
          <td style="vertical-align: middle;">{{ b.course }}</td>

          {% if c.date_taken is None or c.date_taken == '' %}
            <td style="vertical-align: middle;">-</td>
          {% else %}
            <td style="vertical-align: middle;">{{ c.date_taken }}</td>
          {% endif %}

          {% if c.venue == '' %}
            <td style="vertical-align: middle;">-</td>
          {% else %}
            <td style="vertical-align: middle;">{{ c.venue }}</td>
          {% endif %}

          {% if c.interviewer == '' %}
            <td style="vertical-align: middle;">-</td>
          {% else %}
            <td style="vertical-align: middle;">{{ c.interviewer }}</td>
          {% endif %}

          {% if c.interview_result == 'PASSED' %}
            <td class="passed-text" style="vertical-align: middle;">{{ c.interview_result }}</td>
          {% elif c.interview_result == 'FAILED' %}
            <td class="failed-text" style="vertical-align: middle;">{{ c.interview_result }}</td>
          {% else %}
            <td style="vertical-align: middle;">-</td>
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>
<script src="{% static 'js/i-js/i-table.js' %}"></script>
{% endblock %}