@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');


body {
    overflow-x: hidden;
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
    padding: 0;
}

/* ========== HEADER ========== */
header {
    background-color: #DDDDDD;
    border-bottom: 7px solid rgb(189, 32, 49);
}

header #tupc-name {
    letter-spacing: 0.05rem;
    font-size: 2.3rem;
    font-weight: 1000;
    color: rgb(189, 32, 49);
    justify-content: center;
    text-align: center;
}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    width: 100px;
    height: 100px;
}

/* ========== NAVBAR (tatangalin to sa ibang module ========== */
nav {
    background-color: #DDDDDD;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: rgb(30, 30, 30);
    font-weight: 600;
    font-size: 1.1rem;
}

nav a:not(#admission-text):hover  {
    color: white;
}

#home-link {
    border-radius: 0 0 1rem 1rem;
    background-color: #bd2031;
    color: white;
}

/* ========== MAIN CONTAINER ========== */
.headers {
    font-size: 25px;
    font-weight: 750;
}

.main-container {
    margin: 1vw 10vw;
}

.top-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.top-container-left-side {
    width: 30%;
    margin-right: 2%;
}

.jump-links {
    display: flex;
    flex-direction: column;
}

.jump-links .links {
    padding-left: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.jump-links .links a{
    font-size: 1.3rem;
    text-decoration: none; 
    color: #181818;
    font-weight: 550;
    cursor: pointer;
}

.jump-links .links:hover {
    border-left: 5px solid rgb(189, 32, 49);
    background-image: linear-gradient(to right, rgba(189, 32, 49, 0.6), rgba(189, 32, 49, 0.2));
}

.headers {
    color: rgb(255, 255, 255);
    background-color: rgb(189, 32, 49);
    border-radius: 15px;
    padding: 0.75rem;
}

#announcement-section {
    margin-top: 2.5rem;
}

#announcement-section li {
    padding-bottom: 0.75rem;
    color: #181818;
}

.top-container-right-side {
    width: 68%;
    padding: 0;
    margin: 0;
}

figure {
    padding: 0;
    margin: 0;
}

.tupc-images {
    border: 2px solid rgb(189, 32, 49);
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: (2, auto);
}

.tupc-images img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.tupc-images .item-1 {
    grid-column: 1 / 4;
    grid-row: 1;
    max-height: 350px;
}

.tupc-images .item-2 {
    grid-column: 1 / 2;
    grid-row: 2;
}

.tupc-images .item-3 {
    grid-column: 2 / 3;
    grid-row: 2;
}

.tupc-images .item-4 {
    grid-column: 3 / 4;
    grid-row: 2;
}

.bottom-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2vw;
}

.bottom-container-left-side {
    width: 35%;
}

.bottom-container-right-side {
    width: 60%;
    margin-left: 5%;
}

#guidelines li {
    font-size: 1rem;
    padding-bottom: 0.75rem;
    color: #181818;
}

#requirements h3 {
    padding-bottom: 0;
    margin-bottom: 0;
    color: #181818;
}

#requirements ul {
    margin-top: 0.3rem;
}

#requirements li {
    font-size: 1rem;
    padding-bottom: 0.5rem;
    color: #181818;
}

.freshmen-requirements, .transferees-requirements {
    padding-left: 0.8rem;
    margin-bottom: 2rem;
}

hr {
    background-color: rgb(189, 32, 49);
    height: 5px;
    border: none;
    margin: 0;
}

/* ========= FOOTER ========= */
#footer {
    background-color: rgb(189, 32, 49);
}

#footer #left-footer {
    margin: 0;
    padding: 2.5vw;
    width: 60%;
    height: 100%;
}

#footer #left-footer h3 {
    margin: 0;
    color: #FFFFFF;
    padding-bottom: 0.75rem;
}

#footer a {
    font-size: 0.85rem;
    padding-left: 2.5rem;
    text-decoration: none;
    color: #FFFFFF;
}

#footer a:hover span{
   text-decoration: underline;
}

#footer span {
    padding-left: 0.7em;
}

#footer #right-footer {
    width: 40%;
    height: 100%;
}

#footer img {
    width: 100%;
}


/* ========== MEDIA QUERRIES (CONTENT RESPONSIVENESS) ========== */
@media screen and (max-width: 1160px) {
    header #tupc-name {
        letter-spacing: 0.05rem;
        font-size: 1.8rem;
        font-weight: 1000;
        color: rgb(189, 32, 49);
        display: flex;
        justify-content: center;
    }
    
    header img {
        width: 90px;
        height: 90px;
    }
}

@media screen and (max-width: 582px) {
    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    header #tupc-name {
        font-size: 1.5rem;
        font-weight: 900;
        color: rgb(189, 32, 49);
        display: flex;
        justify-content: center;
    }
    
    header img {
        width: 90px;
        height: 90px;
    }  
}

@media screen and (max-width: 500px) {
    header #header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    header #tupc-name {
        font-size: 1.2rem;
        font-weight: 900;
        color: rgb(189, 32, 49);
        display: flex;
        justify-content: center;
    }
    
    header img {
        width: 75px;
        height: 75px;
    }
}