@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');


:root {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    background-color: #DDDDDD;
    justify-content: center;
    align-items: center;
    height: 10vh;
    padding: 0 10vw;
    border-bottom: 7px solid rgb(189, 32, 49);
}

header h1 {
    font-size: 1.82rem;
    font-weight: 1000;
    color: rgb(189, 32, 49);
    padding-bottom: 2rem;
}

nav {
    height: 10vh;
    background-color: #DDDDDD;
}

nav ul {
    padding-top: 0.9rem;
    margin-right: 10vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0;
}

nav li {
    padding-left: 2vw;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #000;
    font-weight: 1000;
    font-size: 0.9em;
}

nav a:not(#admission-text):hover  {
    border-bottom: 5px solid rgb(189, 32, 49);
}

#admission-text {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background: linear-gradient(97.1deg, #DC9EA8 0%, #BD2031 100%);
    color: #FFFFFF;
}

.headers {
    font-size: 25px;
    font-weight: 750;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 10vw;
}

.hero .hero-left {
    width: 30%;
}

.jump-links {
    display: flex;
    flex-direction: column;
}

.jump-links .links {
    padding-left: 1rem;   
}

.jump-links .links h2{
    font-size: 1.3rem;   
}

.jump-links .links:hover {
    border-left: 5px solid #bd2031;
    background-image: linear-gradient(to right, rgba(189, 32, 49, 0.6), rgba(189, 32, 49, 0.2));
}

.hero .hero-right {
    width: 70%;
    background-color: red;
}

.tupc-images {
    padding: 0;
    margin: 0;
}

.tupc-images .images-top{
    display: flex;
    
}

.tupc-images .images-top img{
    margin: 0;
    width: 100%;
}

.tupc-images .images-bottom{
    display: flex;
}

.tupc-images .images-bottom img{
    margin: 0;
    width: 33.33%;
}

footer {
    background-color: #BD2031;
    display: flex;
    padding: 0 5vw;
    justify-content: center;
    align-items: center;
}

footer .left-footer {
    margin: 0;
    padding: 2.5vw;
    width: 60%;
    height: 100%;
}

footer .left-footer h3 {
    margin: 0;
    color: #FFFFFF;
    padding-bottom: 0.75rem;
}

footer a {
    font-size: 0.85rem;
    padding-left: 2.5rem;
    text-decoration: none;
    color: #FFFFFF;
}

footer a:hover span{
   text-decoration: underline;
}

footer span {
    padding-left: 0.7em;
}

footer .right-footer {
    width: 40%;
    height: 100%;
}

footer img {
    width: 100%;
}
